body {
        font-family: 'Tangerine', serif;
        font-size: 48px;
      }
      h1{ font-family: 'Tangerine', serif;
        font-size: 66px;
      }
        h2{font-family: 'Tangerine', serif;
        font-size: 40px;
          
        }
        p{font-family: 'Tangerine', serif;
        font-size: 32px;}
        h3{font-family: 'Tangerine', serif;
        font-size: 40px;
          color:#ff0000;
        }
        
        .outer-box {
          background-color:grey;
          margin: 30px 10px;
          padding:10px;
          min-height:300px;
        }
        .name {
          color:white;
          font-family:Tahoma;
          margin-left :20px;
        }
        .picture {
          margin-left:20px;
          float:left;
          margin-right:20px;
          margin-bottom:10px;
          border:2px solid black;
        }
        .bio{
          font-family:Tahoma;
          padding-left:20px;
          padding-right:20px;
          padding-bottom:20px;
        }
        img{
          display:block;
        }
        #ad{
          float:left;
            border:2px solid black;
            margin-right:20px;
        }
       
